*{
	padding: 0;
	margin: 0;
}
section{
	height: 100vh;
	background-image: url(images/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
	padding: 50px 0;
}
#add-inventory-form-div{
	width: 45%;
	margin: 0 auto;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	padding: 50px 0;
	border-radius: 20px;
	box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.3), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
#add-inventory-form-div .form-title h1{
	font-family: Roboto;
	text-align: center;
	color: #fff;
}
#add-inventory-form-div .form-divider{
	width: 25%;
	margin: 0 auto;
	border-top: 3px solid rgb(146, 14, 153);
	margin-bottom: 50px;

}
#add-inventory-form-div #form-content{
	width: 65%;
	margin: 0 auto;
}
form legend{
	font-family: Nunito;
	font-size: 19px;
	background-image: linear-gradient(to right,rgba(146, 14, 153,0.9),rgba(0, 114, 181,0));
	padding-left: 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#form-content .main-select-list{
	margin-bottom: 40px;
}
.fab{
	padding-left: 10px;
}
.form-divider-bottom{
	width: 100%;
	margin: 0 auto;
	border-top: 2px solid #777;
	margin-bottom: 20px;
}
#add-inventory-button-div{
	text-align: center;
}
#back-to-home-button{
	width: 45%;
	margin: 0 auto;
	margin-top: 20px;
}
#back-to-home-button a{
	box-shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 4px rgba(0, 0, 0, 0.19);
}
input:not([type="file"]).error,
textarea.error,
select.error {
  border: 2px solid red !important;
}
input:not([type="file"]).no-error,
textarea.no-error,
select.no-error {
  border: 2px solid green !important;
}
 
form .error {
  color: red;
  font-size: small;
}